.container {
    width: 60%;
    border: 3px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.input {
    width: 90%;
    height: 30px;
    margin-top: 20px;
    outline: none;
}

.input::placeholder{
    font-size: 17px;
    color:#a3a3a3;
}

.input::-moz-focus-inner{
    color: #f64327;
}

.button {
    width: 90%;
    height: 30px;
    background-color: white;
    border-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}